@font-face {
    font-family: "Geomanist";
    src: url("../public/fonts/Geomanist-Regular.otf");
}

@font-face {
    font-family: "TiemposHeadline";
    src: url("../public/fonts/TiemposHeadline-Regular.ttf");
}

html{
    font-family: "Geomanist";
}

.site-container-scroll::-webkit-scrollbar-track {
    background-size: 2px;
}

.site-container-scroll::-webkit-scrollbar-thumb {
    background: #E16736;
}

.site-container-scroll::-webkit-scrollbar {
    width: 6px;
}

.font-tiemposhl{
    font-family: "TiemposHeadline";
}



.leaflet-container{
    width: 100%;
    height: 650px;
    border-radius: 20px;
}

.leaflet-container.preview{
    width: 100%;
    height: 150px;
    border-radius: 20px;
}